include LICENSE
include README.rst
recursive-include socialtool/social *
recursive-include socialtool/social/management *
recursive-include socialtool/social/migrations *
recursive-include socialtool/social/static *
recursive-include socialtool/social/templates *
