a {
    color: #0089d0;
}

.row2 {
    background-color: #eee;
}

.column-content {
    width: 10%;
}

.message-btns {
    list-style-type: none;
    margin: 0;
}

.message-btns li {
    margin-bottom: 0.5em;
}

.modal-body textarea {
    width: 95%;
}

#changelist .well {
    /* this is moved into the subnav to affix to the top on scroll */
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 5px;
    height: 40px;
}

.info-counter {
    margin-top: 8px;
}

.navbar-fixed-top .well {
    width: 1170px;
    margin: 0 auto;
}

#content h1 {
    margin-bottom: 30px;
}

#action-btns.navbar-fixed-top {
    top: 80px !important;
}